.moneyitems{
  width: 100%;
}

.moneyitems ul{
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.moneyitems ul li{
  list-style: none;
  margin-left: px;
}

.moneyitems .active{
  border: 1px solid white;
  padding: 2px;
  border-radius: 10px;
  background-color: #00054745;
}
.over{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.over button{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}